body {
  background-image: url(../assets/index/fondo.jpeg);
  height: 80vh;
  background-size: 50%;
  background-position: center; }

form {
  width: 340px;
  height: 440px;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(100vw -40px);
  padding: 20px 30px;
  background: rgba(0, 0, 0, 0.4);
  max-width: calc(100vw -40px);
  margin: 50px auto; }

#boton {
  background: #87da9d;
  color: #fff;
  padding: 5px;
  width: 100%;
  text-align: center; }

#boton:hover {
  cursor: pointer; }

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 17px; }

textarea {
  min-height: 100px;
  max-height: 300px;
  max-width: 100%;
  max-height: 100px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: 100%;
  margin-bottom: 10px; }

#boton-carrito {
  border: none;
  color: #41e186;
  font-size: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 10px 20px;
  transition: all .3s; }

#boton-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(216, 230, 235, 0.016); }

#boton-carrito:focus {
  outline: none; }

#contenedor-productos {
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

p {
  line-height: 1.8; }

.producto {
  max-width: 20%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3); }

.precioProducto {
  font-weight: 700; }

.boton-agregar {
  background-color: royalblue;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  border: none; }

.boton-agregar:hover {
  cursor: pointer; }

.boton-agregar:focus {
  outline: none; }

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden; }

.modal-active {
  opacity: 1;
  visibility: visible; }

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s; }

.modal-active .modal-carrito {
  margin-top: 0; }

.modal-carrito h3 {
  color: royalblue;
  padding-bottom: 5px; }

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: royalblue;
  border: none;
  background-color: white; }

.modal-carrito #carritoCerrar:hover {
  cursor: pointer; }

.modal-carrito #carritoCerrar:focus {
  outline: none; }

.modal-carrito .precioProducto {
  padding-top: 10px; }

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between; }

.productoEnCarrito:hover {
  border-left: 5px solid royalblue; }

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px; }

.boton-eliminar:hover {
  cursor: pointer; }

.boton-eliminar:focus {
  outline: none; }

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

header {
  height: 80px;
  background: #87da9d;
  padding: 0 50px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header a {
    text-decoration: none; }

.logo {
  text-transform: uppercase;
  font-weight: 100; }

.nav_container a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 30px;
  font-size: 1rem; }

.mostrar-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s; }

.esconder-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s; }

.mostrar-menu {
  order: 1; }

.nav_container a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
  font-size: 20px;
  background-color: #a9dbd0; }

#check {
  display: none; }

@media screen and (max-width: 768px) {
  .mostrar-menu,
  .esconder-menu {
    display: block; }
  .nav_container {
    position: fixed;
    width: 100%;
    height: 100vh;
    right: -100%;
    background: #84e98ec3;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100; }
  .nav_container a {
    display: block;
    padding: 20px; }
  .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px; }
  #check:checked ~ .nav_container {
    right: 0%; } }

.contenido-banner h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 25px; }

footer {
  margin-top: 20px;
  background-color: #87da9d; }
  footer .ul_footer {
    display: flex;
    list-style: none; }
  footer .li_footer {
    margin: 20px; }
    footer .li_footer a {
      text-decoration: none; }

.carrusel h3 {
  text-align: center;
  margin: 20px; }

.carrusel .galeria {
  margin: auto;
  width: 95%;
  overflow: hidden; }

.carrusel .ul_galeria {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 0;
  width: 300%;
  animation: cambio 20s infinite alternate;
  text-align: center; }

.carrusel .li_galeria {
  width: 85%;
  height: 600px; }
  .carrusel .li_galeria img {
    width: 85%;
    height: 600px; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }
