#formulario{
    width: 100%;
    max-width: 600px;
    margin: 140px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 244, 148);
    border-radius: 5%;
   }

 .comentario{
    width: auto 406px;
 }